---
import { ButtonLink } from "@/components/ButtonLink"
import { Badge } from "@/components/ui/badge"
import BaseLayout from "@/layouts/BaseLayout.astro"
import { PhotoIconHoverCard } from "@/components/PhotoIconHoverCard"
import { Image } from "astro:assets"
import portrait from "@/assets/images/portrait.webp"
import rcoLogo from "@/assets/logos/rco-white.svg"
import unionenLogo from "@/assets/logos/unionen.svg"
import stLogo from "@/assets/logos/st.svg"
import stadsmissionenLogo from "@/assets/logos/stadsmissionen.svg"
import ingmarbergmanLogo from "@/assets/logos/ingmarbergman.svg"
import { TestimonialCarousel } from "@/components/TestimonialCarousel"

const items: Array<string> = [
  "UX Design",
  "UI Design",
  "Project Management",
  "Agile",
  "Scrum Master",
  "HTML",
  "CSS",
  "Javascript",
  "Typescript",
  "React",
  "Next.js",
  "Vue",
  "Nuxt.js",
  "Node.js",
  "Redux",
  "Zustand",
  "Webflow",
  "Framer",
  "Storybook",
  "Vercel",
  "AWS",
  "Netlify",
  "Git",
  "Jira",
  "Azure",
  "Wordpress",
  "Drupal",
  "Strapi",
  "React Native",
  "Expo",
  "VSCode",
  "IOS",
  "Macbook Pro",
  "Linux",
  "Shadcn",
  "Vuetify",
  "Material UI",
]
---

<BaseLayout>
  <main>
    <section>
      <div class="container max-w-prose mx-auto space-y-10">
        <h1 class="font-bold">
          I build high quality and <br /> impactful digital experiences.
        </h1>
        <p>
          I'm Mustafa Adam Alshammaa <PhotoIconHoverCard client:load>
            <Image
              src={portrait}
              alt="A bird sitting on a nest of eggs."
              width="500"
              height="500"
              loading="eager"
            />
          </PhotoIconHoverCard>, a seasoned Frontend Developer with over a
          decade of experience in crafting dynamic websites. My journey in web
          development goes beyond just coding; I immerse myself in every stage
          from concept to launch. By embracing a holistic approach, I've honed
          my ability to weave compelling narratives through a blend of branding,
          design, and animation. My goal is to capture the user's attention,
          guiding them through engaging and unforgettable digital experiences.
        </p>

        <div class="flex justify-between items-center">
          <p class="max-w-80">
            I’m available for new projects starting September 2024.
          </p>
          <span class="relative flex h-6 w-6">
            <span
              class="animate-ping absolute inline-flex h-full w-full rounded-full bg-green-400 opacity-75"
            ></span>
            <span class="relative inline-flex rounded-full h-6 w-6 bg-green-500"
            ></span>
          </span>
        </div>

        <ButtonLink href="mailto:adam.benals@gmail.com">
          Contact Me
        </ButtonLink>
      </div>
    </section>

    <section>
      <div class="container">
        <h2 class="text-xs uppercase">Testimonials</h2>

        <div class="mx-auto w-full py-4">
          <TestimonialCarousel client:load />
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <h2 class="text-xs uppercase">Services, Skills & Tools</h2>

        <div class="grid lg:grid-cols-4 gap-4 py-4">
          <div class="bg-gray-50 dark:bg-neutral-900 p-6 space-y-4 rounded-3xl">
            <h3 class="font-bold uppercase">UX/UI</h3>
            <p>
              Designing interfaces that are intuitive, efficient, and enjoyable
              to use.
            </p>
          </div>
          <div class="bg-gray-50 dark:bg-neutral-900 p-6 space-y-4 rounded-3xl">
            <h3 class="font-bold uppercase">Web & Mobile apps</h3>
            <p>
              Transforming ideas into exceptional web and mobile app
              experiences.
            </p>
          </div>
          <div class="bg-gray-50 dark:bg-neutral-900 p-6 space-y-4 rounded-3xl">
            <h3 class="font-bold uppercase">Development</h3>
            <p>
              Bringing your vision to life with the latest technology and design
              trends.
            </p>
          </div>
          <div class="bg-gray-50 dark:bg-neutral-900 p-6 space-y-4 rounded-3xl">
            <h3 class="font-bold uppercase">Design & Creative</h3>
            <p>
              Crafting visually stunning designs that connect with your
              audience.
            </p>
          </div>
        </div>

        <div class="flex flex-wrap gap-4 mt-6">
          {items.map((item) => <Badge>{item}</Badge>)}
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <h2 class="text-xs uppercase">Experience</h2>

        <div class="flex flex-col gap-4 py-4">
          <div
            class="bg-gray-50 dark:bg-neutral-900 p-6 rounded-3xl flex justify-between items-center"
          >
            <div class="space-y-4">
              <h3 class="font-bold uppercase">RCO Security / Dinbox</h3>
              <p>Senior Frontend Developer & UI/UX Designer Consultant</p>
            </div>
            2023 - 2024
          </div>
          <div
            class="bg-gray-50 dark:bg-neutral-900 p-6 rounded-3xl flex justify-between items-center"
          >
            <div class="space-y-4">
              <h3 class="font-bold uppercase">The Stellar Collective</h3>
              <p>Senior Frontend Developer Consultant</p>
            </div>
            Present
          </div>
          <div
            class="bg-gray-50 dark:bg-neutral-900 p-6 rounded-3xl flex justify-between items-center"
          >
            <div class="space-y-4">
              <h3 class="font-bold uppercase">Pluck</h3>
              <p>Co-founder</p>
            </div>
            2021 - 2024
          </div>
          <div
            class="bg-gray-50 dark:bg-neutral-900 p-6 rounded-3xl flex justify-between items-center"
          >
            <div class="space-y-4">
              <h3 class="font-bold uppercase">Digitalist Sweden</h3>
              <p>Frontend Lead & Certified Scrum Master</p>
            </div>
            2018 - 2021
          </div>
          <div
            class="bg-gray-50 dark:bg-neutral-900 p-6 rounded-3xl flex justify-between items-center"
          >
            <div class="space-y-4">
              <h3 class="font-bold uppercase">Wunderkraut</h3>
              <p>Frontend Lead & Certified Scrum Master</p>
            </div>
            2017 - 2018
          </div>
          <div
            class="bg-gray-50 dark:bg-neutral-900 p-6 rounded-3xl flex justify-between items-center"
          >
            <div class="space-y-4">
              <h3 class="font-bold uppercase">Bricco</h3>
              <p>Fullstack Developer</p>
            </div>
            2013 - 2017
          </div>
          <div
            class="bg-gray-50 dark:bg-neutral-900 p-6 rounded-3xl flex justify-between items-center"
          >
            <div class="space-y-4">
              <h3 class="font-bold uppercase">River</h3>
              <p>Internship</p>
            </div>
            2011 - 2012
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="flex justify-between text-xs uppercase">
          <h2>Selected Projects</h2>
          <a href="/projects" class="underline hover:no-underline py-2 px-4"
            >See all</a
          >
        </div>

        <div class="flex flex-col space-y-6">
          <a href="/projects/rco">
            <div
              class="bg-rcoBlue hover:bg-rcoBlue/90 p-6 space-y-4 rounded-3xl min-h-80 flex items-center justify-center"
            >
              <Image src={rcoLogo} alt="RCO Logo" />
            </div>
          </a>

          <a href="/projects/unionen">
            <div
              class="bg-unionenGreen hover:bg-unionenGreen/90 p-6 space-y-4 rounded-3xl min-h-80 flex items-center justify-center"
            >
              <Image src={unionenLogo} alt="Unionen Logo" />
            </div>
          </a>

          <a href="/projects/st">
            <div
              class="bg-stBlue hover:bg-stBlue/90 p-6 space-y-4 rounded-3xl min-h-80 flex items-center justify-center"
            >
              <Image src={stLogo} alt="ST Logo" />
            </div>
          </a>

          <a href="/projects/stadsmissionen">
            <div
              class="bg-stadsmissionenOrange hover:bg-stadsmissionenOrange/90 p-6 space-y-4 rounded-3xl min-h-80 flex items-center justify-center"
            >
              <Image
                src={stadsmissionenLogo}
                alt="Stockholms Stadsmission Logo"
              />
            </div>
          </a>

          <a href="/projects/bergman">
            <div
              class="bg-ingmarPink hover:bg-ingmarPink/90 p-6 space-y-4 rounded-3xl min-h-80 flex items-center justify-center"
            >
              <Image
                src={ingmarbergmanLogo}
                alt="Ingmar Bergman Foundation Logo"
              />
            </div>
          </a>
        </div>
      </div>
    </section>
  </main>
</BaseLayout>
