---
import type { CollectionEntry } from "astro:content"
import BaseHead from "../components/BaseHead.astro"
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
import FormattedDate from "../components/FormattedDate.astro"
import { cn } from "@/lib/utils"
import Prose from "@/components/Prose.astro"

type Props = CollectionEntry<"project">["data"]

const { title, description, pubDate, updatedDate, heroImage, logo, color } =
  Astro.props
---

<script is:inline>
  const getThemePreference = () => {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
      return localStorage.getItem("theme")
    }
    return window.matchMedia("(prefers-color-scheme: dark)").matches
      ? "dark"
      : "light"
  }
  const isDark = getThemePreference() === "dark"
  document.documentElement.classList[isDark ? "add" : "remove"]("dark")

  if (typeof localStorage !== "undefined") {
    const observer = new MutationObserver(() => {
      const isDark = document.documentElement.classList.contains("dark")
      localStorage.setItem("theme", isDark ? "dark" : "light")
    })
    observer.observe(document.documentElement, {
      attributes: true,
      attributeFilter: ["class"],
    })
  }
</script>

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body>
    <Header />
    <main>
      <article class="container">
        <div
          class="min-h-80 rounded-3xl flex items-center justify-center"
          style={{ backgroundColor: color }}
        >
          {logo && <img src={logo} alt="" />}
        </div>
        <Prose>
          <div class="pt-10">
            <!-- <div class="date">
              <FormattedDate date={pubDate} />
              {
                updatedDate && (
                  <div class="last-updated-on">
                    Last updated on <FormattedDate date={updatedDate} />
                  </div>
                )
              }
            </div> -->
            <h1>{title}</h1>
          </div>
          <slot />
        </Prose>
      </article>
    </main>
    <Footer />
  </body>
</html>
